<html>
<body>

  <h2>New TODO</h2>

  <form action="/todos" method="post">

	<!-- Description Input Textbox -->
    <input type="text" name="desc" placeholder="Wacha doin?" style="width: 300px">

	<!-- Submit Button -->
    <input type="submit" value="Submit">

  </form>

</body>
</html>
