<html>
<body>

  <h2>New TODO</h2>

  <form action="/todos" method="post">
    
    <!-- Label -->
    <label for="desc">Description:</label>

	<!-- Description Input Textbox -->
    <input id="desc" type="text" name="desc" placeholder="Wacha doin?" style="width: 300px">

	<!-- Submit Button -->
    <input type="submit" value="Submit">

  </form>

</body>
</html>
